.logo {
    margin-top: 10%;
}

.bouton-connexion {
    width: 45%;
    height: 5%;
    font-size: 15px; 
}   
}

.nom-ressourcerie {
    font-size: 2em;
    margin-left: 20px;
}

.titre-nav {
    font-size: 1.2em;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 20px;
    line-height: 1.42857;
    color: #333;
}

.titre-reception {
	text-align: center;
}

.panel-number {
    text-align: center;
}

.panel-info {
    border-color: #BCE8F1;
    background-color: #F2F2F2;
    height: 400px;
}

.panel-body {
    padding: 15px;
    text-align: center;
}

.form-control {
    display: block;
    width: 100%;
    height: 40px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #CCC;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.btn-circle {
    width: 38px;
    height: 35px;
    text-align: center;
    padding: 6px 0;
    margin:  0 90px 15px 90px;
    font-size: 20px;
    line-height: 1;
    border-radius: 20px;
    background-color: lightblue;: 
}

.btn-nav {
    box-shadow: 0px 0px 0px 2px #9FB4F2;
    background: #7892C2 linear-gradient(to bottom, #7892C2 5%, #476E9E 100%) repeat scroll 0% 0%;
    border-radius: 10px;
    border: 1px solid #4E6096;
    display: inline-block;
    cursor: pointer;
    color: #FFF;
    font-family: Arial;
    font-size: 25px;
    margin: 8px 45px;
    width: 230px;
}

.navbar-inverse .navbar-nav > li > a {
    color: rgb(239, 227, 227);
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(17, 17, 18);
}

.btn-navbar:hover,
.btn-navbar:active,
.btn-navbar.active,
.btn-navbar.disabled,
.btn-navbar[disabled] {
    box-shadow: none;
    background: none;
    border-radius: 10px;
    border: 1px solid #4E6096;
    display: inline-block;
    cursor: pointer;
    color: #FFF;
    font-family: Arial;
    font-size: 25px;
    width: 230px;
}

.collect-source {
    font-size:12px;
    autofocus:none;
    required:none;
}

.object-source {
   font-size:12px
   autofocus:none;
   required:none;
}

/* Page Vente */

.vente-object {
    margin-top: 8%;    
}

.poids {
    margin-left:2%;
}

.saisie {
    margin-top: 8%;
}

.total-ticket {
   margin-top: 8%;    
}

.bouton-saisie {
    width: 100%;
    height: 40px;
    margin-top: 20px;
}    

.bouton-ticket {
    width: 100%;
    height: 40px;
    margin-top: 20px;
}

.bouton-encaissement {
    width: 100%;
    height: 40px;
    margin-top: 20px;
}

/* Page Valorization  */

.bouton-pese {
    width: 100%;
    height: 48px;
    font-size: 22px; 
}

/* Page Administration */

.nom-ressourcerie {
    margin-left: 25px;
}

.titre-saisie {
    margin-left: 25px;
}

.new-site {
    width: 200px;
    height: 40px;
    margin: 10px 25px;   
}

.bouton-new-site {
    width: 200px;
    height: 35px;
    font-size: 15px;   
    margin: 10px 25px;
}

.choix-new-site {
    width: 200px;
    height: 40px;
    margin: 10px 25px;   
}

.bouton-new-user {
    width: 200px;
    height: 35px;
    font-size: 15px;
    margin: 10px 25px;
}

.new-user {
    width: 200px;
    height: 40px;
    margin: 10px 40px;
}

.new-password {
    width: 200px;
    height: 40px;
    margin: 10px 40px;
}


.table-responsive {
    padding: 10px;
}

.admin-table {
    text-align: center;
}



.bouton-admin {
    width: 200px;
    height: 35px;
    font-size: 15px;
    margin: 0 10px 0 10px;
}

.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    text-align: center;
}